{:+ {:editor {"ctrl-d"    [:lt.plugins.lt-enhancements/select-next-occurrence-token]
              "ctrl-down" [(:editor.codemirror.command "scrollLineDown")]
              "ctrl-up"   [(:editor.codemirror.command "scrollLineUp")]}}}
